* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* -------------------------------------------------- */
/* Inizio Common */
#header-top {
	height: 50px;
}

#header-bottom {
}
/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */

/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */

/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */

/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */
