* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* -------------------------------------------------- */
/* Inizio Common */
body,
.btn {
	font-weight: 600;
}

.f-18 {
	font-size: 18px;
}

.f-40 {
	font-size: 40px;
}

.f-44 {
	font-size: 44px;
}

.ms-fix-sticky {
	position: sticky;
	top: 61px;
}
/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */
#header-top {
	height: 50px;
}

#header-bottom {
	font-weight: bold;
}
/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */

#jumbotron > .container-fluid {
	background-image: url(../img/jumbo-bg.png);
	background-position: center;
	height: 675px;
}

#jumbotron button {
	background: #cd3d0f;
}

#thumbnails img,
#releases img {
	border-radius: 20px;
}

#thumbnails .thumbnail:hover img {
	padding: 0.25rem;
	border: 3px solid #0d6efd;
}

#showcase .thumbnail {
	filter: opacity(0.6);
}

#showcase .thumbnail:hover {
	filter: opacity(1);
	border-bottom: 2px solid #0d6efd;
}

#release-highlight > .container-fluid {
	background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

#release-highlight button {
	background: #cd3d0f;
}

#releases > .container-fluid {
	background-color: #1f1f1f;
	color: white;
}

#ps-plus > .container-fluid {
	background: #bebcbb;
}

#ps-plus button {
	background: #d9dadc;
}

#ps-now > .container-fluid {
	background: #161c3b;
	color: white;
}
/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */

footer > .container-fluid {
	background: #00439c;
	color: white;
}

#country p::before {
	content: url(../img/language-globe.svg);
	display: inline-block;
	height: 15px;
	width: 15px;
	vertical-align: middle;
	line-height: 15px;
	margin-right: 10px;
}
/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */
